{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {% translate "Setup Application" %}
{% endblock %}
{% block content %}
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1>{% translate "Setup Application" %}</h1>
        <p>{% translate "Provide configuration for your app." %}</p>
        <form method="POST">
          {% csrf_token %}
          {{ wizard.management_form }}
          {% crispy wizard.form helper %}
          <button class="btn btn-primary" type="submit">{% translate "Submit" %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
