.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
.git

# dev
terraform
playground
infra
templates
scripts
node_modules
kubeconfig
images
cypress
