project_id  = "project-id"

region           = "europe-north1"
zone             = "europe-north1-a"
gke_cluster_name = "classlab-cluster"
num_nodes        = 1
spot_num_nodes   = 0
machine_type     = "e2-small"
spot_machine_type= "e2-medium"
disk_size        = 20
spot_disk_size   = 20
network_name     = "classlab-vpc"
ip_address_name  = "public-ip"
ssl_cert_name    = "lb-cert"
domain_name      = "apps.classlab.pl."

datree_token = ""
