{% load i18n static %}

<footer class="mt-auto justify-content-center">
  {% comment %}
  <!-- <ul class="nav justify-content-center border-bottom p2-3 mb-2"> -->
    <!-- <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">{% translate "Home" %}</a></li> -->
    <!-- <li class="nav-item"><a href="{% url 'privacy_policy' %}" class="nav-link px-2 text-muted">{% translate "Privacy Policy" %}</a></li> -->
    <!-- <li class="nav-item"><a href="{% url 'terms_of_service' %}" class="nav-link px-2 text-muted">{% translate "Terms of Service" %}</a></li> -->
  <!-- </ul> -->
  {% endcomment %}
  <p class="text-center text-muted">
    &copy; <span id="year">2023</span> ClassLab
  </p>
</footer>
